[justdavis]
aws_access_key_id = {{ (keepassxc "Karl M. Davis - AWS - IAM User steve (admin) - justdavis - Access Key (CLI)").UserName }}
aws_secret_access_key = {{ (keepassxc "Karl M. Davis - AWS - IAM User steve (admin) - justdavis - Access Key (CLI)").Password }}
