[justdavis]
aws_access_key_id = {{ (keepassxc "Karl M. Davis (justdavis) :: AWS (Access Key CLI) :: steve (Admin IAM User)").UserName }}
aws_secret_access_key = {{ (keepassxc "Karl M. Davis (justdavis) :: AWS (Access Key CLI) :: steve (Admin IAM User)").Password }}
