{
  "options": {
    "logger_path": "{{ .chezmoi.homeDir }}/.local/log/osquery",
    "disable_events": "false",
    "enable_file_events": "true",
    "events_expiry": "21600"
  },
  "schedule": {
    "file_events_recent": {
      "query": "SELECT target_path, category, action, time, sha256 FROM file_events;",
      "interval": 10,
      "removed": false
    }
  },
  "packs": {
    "intrusion-detection": "{{ .chezmoi.homeDir }}/.config/osquery/packs/intrusion-detection.conf",
    "security-policy-regression": "{{ .chezmoi.homeDir }}/.config/osquery/packs/security-policy-regression.conf",
    "installed-software-drift": "{{ .chezmoi.homeDir }}/.config/osquery/packs/installed-software-drift.conf"
  },
  "file_paths": {
    "ssh": [
      "{{ .chezmoi.homeDir }}/.ssh/%%"
    ],
    "launch_agents": [
      "{{ .chezmoi.homeDir }}/Library/LaunchAgents/%%",
      "/Library/LaunchAgents/%%"
    ],
    "launch_daemons": [
      "/Library/LaunchDaemons/%%"
    ],
    "sudoers": [
      "/etc/sudoers",
      "/etc/sudoers.d/%%"
    ],
    "sshd_config": [
      "/etc/ssh/sshd_config",
      "/etc/ssh/sshd_config.d/%%"
    ]
  },
  "file_paths_hashes": {
    "ssh": [
      "{{ .chezmoi.homeDir }}/.ssh/%%"
    ],
    "sudoers": [
      "/etc/sudoers",
      "/etc/sudoers.d/%%"
    ],
    "sshd_config": [
      "/etc/ssh/sshd_config",
      "/etc/ssh/sshd_config.d/%%"
    ]
  }
}
