#!/bin/bash
# run_onchange_after_60-load-claude-launchagent.sh

{{- if eq .chezmoi.os "darwin" }}
launchctl unload ~/Library/LaunchAgents/com.claude.code.plist 2>/dev/null
launchctl load ~/Library/LaunchAgents/com.claude.code.plist
{{- end }}
