{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

set -euo pipefail

{{ includeTemplate "cli-print-style-lib.sh.tmpl" }}

readonly cargo_bin_directory="$HOME/.cargo/bin"
readonly rustup_installer_url="https://sh.rustup.rs"

cargo_is_installed() {
  "$cargo_bin_directory/cargo" --version &>/dev/null
}

install_rustup_unattended() {
  curl --proto '=https' --tlsv1.2 -sSf "$rustup_installer_url" | sh -s -- -y
}

main() {
  report_section 'rustup' 'install rustc (Rust compiler) and cargo'

  if cargo_is_installed; then
    report_line "already installed, skipping."
    return
  fi

  report_line "installing..."
  install_rustup_unattended
  report_line "installed to $cargo_bin_directory."
}

main "$@"
{{ end -}}
