{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

set -euo pipefail

{{ includeTemplate "cli-print-style-lib.sh.tmpl" }}

readonly homebrew_installer_url="https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh"

homebrew_is_installed() {
  command -v brew &>/dev/null
}

install_homebrew() {
  /bin/bash -c "$(curl -fsSL "$homebrew_installer_url")"
}

main() {
  report_section 'homebrew' 'package manager'

  if homebrew_is_installed; then
    report_line "already installed, skipping."
    return
  fi

  report_line "not found, installing..."
  install_homebrew
  report_line "installed Homebrew."
}

main "$@"
{{ end -}}
