sourceDir = "/Users/stephen/workspaces/Ivy/webdavis/dotfiles"
workingTree = "/Users/stephen/workspaces/Ivy/webdavis/dotfiles"

[keepassxc]
  database = '/Users/stephen/Library/Mobile Documents/iCloud~com~strongbox/Documents/keepass.kdbx'

[hooks.read-source-state.pre]
  command = "{{ .chezmoi.sourceDir }}/.install-password-manager.sh"
