[keepassxc]
  database = '/Users/stephen/Library/Mobile Documents/iCloud~com~strongbox/Documents/keepass.kdbx'

[hooks.read-source-state.pre]
  command = ".local/share/chezmoi/.install-password-manager.sh"
