#!/bin/bash

{{ if eq .chezmoi.os "darwin" -}}
# Use `brew bundle ...` to install all taps, formulae, casks, and macOS App Store apps.
brew bundle --file=/dev/stdin <<EOF
{{ range .packages.macos.homebrew.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.macos.homebrew.formulae -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.macos.homebrew.casks -}}
cask {{ . | quote }}
{{ end -}}
# Assigns the current key and value to the variables $app and $id in each iteration.
{{ range $app, $id := .packages.macos.homebrew.mas -}}
mas {{ $app | quote }}, id: {{ $id }}
{{ end -}}
EOF

# Restart `skhd` hotkey daemon.
skhd --restart-service

# Configure Hombrew autoupdate.
HOMBREW_BIN="${HOMEBREW_PREFIX:-/opt/homebrew}/bin/brew"

# Workaround to reset the startup timestamp for `domt4/autoupdate` daemon.
"$HOMBREW_BIN" autoupdate stop
"$HOMBREW_BIN" autoupdate delete
"$HOMBREW_BIN" autoupdate start 86400 --upgrade --cleanup --immediate --sudo
{{- end -}}
