[style.description]
underline = false
bold = false
italic = false

[style.command_name]
foreground = "cyan"
underline = false
bold = false
italic = false

[style.example_text]
foreground = "green"
underline = false
bold = false
italic = false

[style.example_code]
foreground = "cyan"
underline = false
bold = false
italic = false

[style.example_variable]
foreground = "cyan"
underline = true
bold = false
italic = false

[display]
compact = false
use_pager = false
show_title = false
placeholder_format = "long"

[display.indent]
base = 2
command = 6

[updates]
auto_update = false
auto_update_interval_hours = 720
archive_source = "https://github.com/tldr-pages/tldr/releases/latest/download"
tls_backend = "rustls-with-webpki-roots"

[directories]
cache_dir = "{{ .chezmoi.homeDir }}/.cache/tealdeer"
custom_pages_dir = "{{ .chezmoi.homeDir }}/.local/share/tealdeer/pages"

[search]
languages = ["en"]
platforms = [{{ if eq .chezmoi.os "darwin" }}"macos"{{ else }}"{{ .chezmoi.os }}"{{ end }}, "common"]
