{
  "client_id": "{{ (keepassxc "Google Cloud (webdavis.io) :: OAuth :: openclaw-gog-cli").UserName }}",
  "client_secret": "{{ (keepassxc "Google Cloud (webdavis.io) :: OAuth :: openclaw-gog-cli").Password }}"
}
