name: Lint
on:
  push:
    branches:
      - "main"
  pull_request:
jobs:
  lint:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Upstream Nix using the Nix Installer from Determinate Systems
        uses: DeterminateSystems/nix-installer-action@main
      - name: Run Nix flake checks for all platforms
        run: nix flake check --all-systems
      - name: Lint project files
        run: nix develop .#run --command ./scripts/lint.sh -c
